{{define "title"}}Home{{end}}
{{define "main"}}
    {{range .}}
    <div class="thought-containter">
        <h3>{{.Content}}</h3>
        <div class="thought-containter-inner">
            <div class="thought-btns">
                <button id="agree-btn">&check; | {{.AgreeCount}}</button>
                <button id="disagree-btn">&cross; | {{.DisagreeCount}}</button>
            </div>
            <div class="thought-created">
                Created by user on {{.Created}}
            </div>
        </div>
    </div>
    {{end}}
{{end}}
