{{define "title"}}Home{{end}}
{{define "main"}}
    <div class="new-tg-btn-container">
        <button class="new-tg-btn" id="new-btn">New &plus;</button>
        <button id="close-btn">X</button>
    </div>
    <div class="new-tg-containter">
        <form action="/thought/new" method="post">
        <textarea name="new-thought" id="new-tg-box" placeholder="What are you thinking?"></textarea>
        <div class="new-post-tg-div">
            <button class="new-tg-btn" type="submit">Post</button>
        </div>
        </form>
    </div>
    {{if .Thoughts}}
        {{range .Thoughts}}
        <div class="thought-containter">
            <div class="thought-content-continer">
                <h3>{{.Content}}</h3>
            </div>
            <div class="thought-containter-inner">
                <div class="thought-btns">
                    <button id="agree-btn" hx-post="/like/{{.ID}}" hx-target="#agree-count-{{.ID}}">&check;
                        | <span id="agree-count-{{.ID}}">{{.AgreeCount}}</span>
                    </button>
                    <button id="disagree-btn" hx-post="/dislike/{{.ID}}" hx-target="#disagree-count-{{.ID}}">&cross; 
                        | <span id="disagree-count-{{.ID}}">{{.DisagreeCount}}</span>
                    </button>
                </div>
                <div class="thought-created">
                    Created by user on {{humanDate .Created}}
                </div>
            </div>
        </div>
        {{end}}
    {{else}}
        <h3 id="display-none">There is nothing here yet!</h3>
    {{end}}
{{end}}

