{{define "title"}}Change Password{{end}}
{{define "main"}}
<h3 class="user-form-heading">Change Password</h3>
<form class="password-container">
    <div id="password-error">
        {{block "password-error-block" .}}
            {{with .Form.FieldErrors.password}}
                <p class="error">{{.}}</p>
            {{end}}
        {{end}}
    </div>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <div>
        <label for="currentPassword">Current Password</label>
        <input type="password" id="curr-pass" name="currentPassword">
    </div>
    <div>
        <label for="newPassword">New Password</label>
        <input type="password" id="new-pass" name="newPassword">
    </div>
    <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="conf-pass" name="confirmPassword">
    </div>
    <div>
        <a id="chg-btn" hx-put="/user/account/password/update" hx-confirm="Are you sure to change the Password?" hx-target-422="#password-error">Submit</a>
        <a id="back-btn" href="/user/account">Cancel</a>
    </div>
</form>
{{end}}
