{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>{{template "title" .}} - My Thoughts</title>
</head>
<body>
   <header>
        <h1>My Thoughts</h1>
   </header> 
   {{template "nav" .}}
     {{with .Flash}}
          <div class="flash-login">{{.}}</div>
     {{end}}
   <main hx-ext="response-targets">
     {{template "main" .}}
   </main>
   <footer>Powered By <a href='https://golang.org/'>Go</a> in {{.CurrentYear}}</footer>
   <script src="/static/js/htmx.min.js" type="text/javascript"></script>
   <script src="/static/js/response-targets.js" type="text/javascript"></script>
   <script src="/static/js/main.js" type="text/javascript"></script>
</body>
</html>
{{end}}