body{
    background-color: rgb(252, 240, 221);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}

h1{
    text-align: center;
    margin-bottom: 17px;
    font-family: "Special Elite", cursive;
    font-size: 4em;
    font-weight: bold;
}

.thought-content-continer{
    margin: 7px;
}

h3{
    font-family: "Special Elite", cursive;
    font-size: 1.4em;
    font-weight: bold;
}

#display-none{
    margin-top: 60px;
    text-align: center;
}

main{
    flex:1; 
    width:60%;
}

.thought-containter{
    border: 2px solid rgba(51, 49, 49, 0.116);
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
}

.thought-containter-inner{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 40px;
    margin-bottom: 10px;
}

.thought-btns {
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-left: 7px;
}

.thought-btns button{
    padding: 4px 4px;
    background: none;
    border-radius: 5px;
    box-shadow: none;
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

#agree-btn{
    border: 2px solid rgb(9, 207, 9);
    color: rgb(9, 207, 9);
}

#disagree-btn{
    border: 2px solid rgb(238, 43, 43);
    color: rgb(238, 43, 43);
}

.thought-btns button:hover {
    background-color: rgba(0, 0, 0, 0.05); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}

/* Active (clicked) state */
.thought-btns button:active {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0); 
}

.thought-created{
    font-family: cursive;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 7px;
}

footer{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(245, 245, 245, 0.966);
    width: 100%;
    border-top: 2px solid rgba(51, 49, 49, 0.116);
    font-family: cursive;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: rgb(94, 64, 25);
}

footer a:hover {
    color: rgb(192, 138, 77);
    text-decoration: underline;
}

nav {
    width: 100%; 
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: rgba(245, 245, 245, 0.966);
    margin-bottom: 10px;
    border: 2px solid rgba(51, 49, 49, 0.116);
    box-shadow: 1px 1px 2px rgba(51, 49, 49, 0.116);
}

.nav-inner {
    display: flex; 
    justify-content: space-between; 
    width: 59%; 
    margin: 0 auto; 
    text-align: center;
}

.left-links, .right-links {
    display: flex; 
}

.left-links a, .right-links a {
    margin-right: 1.5em;
    text-decoration: none;
    font-family: cursive;
    color: rgb(94, 64, 25);
}

.left-links a:last-child, .right-links a:last-child {
    margin-right: 0;
}

.left-links a:hover, .right-links a:hover {
    color: rgb(192, 138, 77);
    text-decoration: underline;
}

.new-tg-btn{
    margin-bottom: 6px;
    padding: 2px 22px;
    background: none;
    border: 2px solid rgb(5, 199, 206);
    color: rgb(5, 199, 206);
    font-weight: bold;
    font-family: cursive;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(51, 49, 49, 0.116);
    transition: all 0.3s ease;
}

.new-tg-btn:hover{
    background-color: rgba(0, 0, 0, 0.05); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px);
    cursor: pointer;
}

.new-tg-btn:active{
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0);   
}

.new-tg-containter{
    display: none;
    margin-bottom: 4px;
}

textarea{
    background-color: rgb(249, 253, 253);
    font-family: "Special Elite", cursive;
    font-size: 1.4em;
    resize: none;
    padding: 13px;
    width: 97.6%;
    height: 92px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(51, 49, 49, 0.116);
    
}

.new-tg-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#close-btn{
    display: none;
    margin-bottom: 6px;
    background: none;
    border: 2px solid red;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    padding: 2px 8px; 
}
#close-btn:hover{
    background-color: rgba(0, 0, 0, 0.05); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px);
    cursor: pointer;
}

#close-btn:active{
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0);   
}

.close-far-end #close-btn {
    margin-left: auto
}

.new-post-tg-div{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 8px;
}

.new-tg-clear-btn{
    margin-bottom: 6px;
    padding: 2px 22px;
    background: none;
    border: 2px solid rgb(199, 131, 7);
    color: rgb(238, 138, 7);
    font-weight: bold;
    font-family: cursive;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(51, 49, 49, 0.116);
    transition: all 0.3s ease;
}

.new-tg-clear-btn:hover{
    background-color: rgba(0, 0, 0, 0.05); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px);
    cursor: pointer;
}

.new-tg-clear-btn:active{
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0);   
}

.error {
    color: red;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 0.9em;
    display: block;
}

.error-field {
    border-color: #C0392B !important;
    border-width: 2px !important;
}