body{
    background-color: rgb(252, 240, 221);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}

h1{
    text-align: center;
    margin-bottom: 17px;
    font-family: "Special Elite", cursive;
    font-size: 4em;
    font-weight: bold;
}

.thought-content-continer{
    margin: 7px;
    position:relative;
}

h3{
    font-family: "Special Elite", cursive;
    font-size: 1.4em;
    font-weight: bold;
}

.no-data-h3{
    text-align: center;
}

#display-none{
    margin-top: 60px;
    text-align: center;
}

main{
    flex:1; 
    width:60%;
}

.thought-containter{
    border: 2px solid rgba(51, 49, 49, 0.116);
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
}

.thought-containter-inner{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 40px;
    margin-bottom: 10px;
}

.thought-btns {
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-left: 7px;
}

.thought-btns button{
    padding: 4px 4px;
    background: none;
    border-radius: 5px;
    box-shadow: none;
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

#agree-btn{
    border: 2px solid rgb(9, 207, 9);
    color: rgb(9, 207, 9);
}

#disagree-btn{
    border: 2px solid rgb(238, 43, 43);
    color: rgb(238, 43, 43);
}

.thought-btns button:hover {
    background-color: rgba(0, 0, 0, 0.05); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}

/* Active (clicked) state */
.thought-btns button:active {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0); 
}

.thought-btns-user{
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-left: 7px;
}

.thought-btns-user button{
    padding: 4px 4px;
    background: none;
    border-radius: 5px;
    box-shadow: none;
    font-family: cursive;
    font-weight: bold;
}

.thought-created{
    font-family: cursive;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 7px;
}

footer{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(245, 245, 245, 0.966);
    width: 100%;
    border-top: 2px solid rgba(51, 49, 49, 0.116);
    font-family: cursive;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: rgb(94, 64, 25);
}

footer a:hover {
    color: rgb(192, 138, 77);
    text-decoration: underline;
}

nav {
    width: 100%; 
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: rgba(245, 245, 245, 0.966);
    margin-bottom: 10px;
    border: 2px solid rgba(51, 49, 49, 0.116);
    box-shadow: 1px 1px 2px rgba(51, 49, 49, 0.116);
}

.nav-inner {
    display: flex; 
    justify-content: space-between; 
    width: 59%; 
    margin: 0 auto; 
    text-align: center;
}

.left-links, .right-links {
    display: flex; 
}

.left-links a, .right-links a {
    margin-right: 1.5em;
    text-decoration: none;
    font-family: cursive;
    color: rgb(94, 64, 25);
}

.left-links a:last-child, .right-links a:last-child {
    margin-right: 0;
}

.left-links a:hover, .right-links a:hover {
    color: rgb(192, 138, 77);
    text-decoration: underline;
}

#logout-btn{
    border: none;
    box-shadow: none;
    padding: 0px;
    color: rgb(94, 64, 25);
    font-weight: normal;
    transition: none;
}

#logout-btn:hover{
    cursor: pointer;
    color: rgb(192, 138, 77);
    text-decoration: underline;
}

.nav-btn{
    background: none;
    border: none;
    box-shadow: none;
    padding: 0px;
    color: rgb(94, 64, 25);
    font-weight: normal;
    font-family: cursive;
    text-decoration: none;
    font-size: 1em;
}

.nav-btn:hover{
    color: rgb(192, 138, 77);
    text-decoration: underline;
    cursor: pointer;
}

nav a.live {
    color: #34495E;
    cursor: default;
    text-decoration: underline;
}

nav a.live:hover {
    color: #34495E;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid rgb(61, 36, 4) ;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.966);
    padding: 5px 5px;
}

.dropdown-content a {
    color: rgb(94, 64, 25);
    text-decoration: none;
    text-align: left;
    display: block;
}

.dropdown-content a:hover{
    width: 100%;
    background-color: rgba(245, 245, 245, 0.5);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.new-tg-btn{
    margin-bottom: 6px;
    padding: 2px 22px;
    background: none;
    border: 2px solid rgb(5, 199, 206);
    color: rgb(5, 199, 206);
    font-weight: bold;
    font-family: cursive;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(51, 49, 49, 0.116);
    transition: all 0.3s ease;
}

.new-tg-btn:hover{
    background-color: rgba(0, 0, 0, 0.05); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px);
    cursor: pointer;
}

.new-tg-btn:active{
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0);   
}

.new-tg-containter{
    display: none;
    margin-bottom: 4px;
}

textarea{
    background-color: rgb(249, 253, 253);
    font-family: "Special Elite", cursive;
    font-size: 1.4em;
    resize: none;
    padding: 13px;
    width: 97.6%;
    height: 92px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(51, 49, 49, 0.116);
    
}

.new-tg-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#close-btn{
    display: none;
    margin-bottom: 6px;
    background: none;
    border: 2px solid red;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    padding: 2px 8px; 
}
#close-btn:hover{
    background-color: rgba(0, 0, 0, 0.05); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px);
    cursor: pointer;
}

#close-btn:active{
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0);   
}

.close-far-end #close-btn {
    margin-left: auto
}

.new-post-tg-div{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 8px;
}

.new-tg-clear-btn{
    margin-bottom: 6px;
    padding: 2px 22px;
    background: none;
    border: 2px solid rgb(199, 131, 7);
    color: rgb(238, 138, 7);
    font-weight: bold;
    font-family: cursive;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(51, 49, 49, 0.116);
    transition: all 0.3s ease;
}

.new-tg-clear-btn:hover{
    background-color: rgba(0, 0, 0, 0.05); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px);
    cursor: pointer;
}

.new-tg-clear-btn:active{
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0);   
}

.error {
    color: red;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 0.9em;
    display: block;
}

.error-field {
    border: 2px solid red;
}

.user-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    flex-direction: row;
}

.user-form-container form{
    border: 1px solid  rgba(241, 113, 8, 0.685);
    padding: 4%;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(223, 101, 2, 0.397); 
}

.user-form-container div{
    padding: 10px;
    width: 348px;
}

.user-form-container input[type="text"], input[type="email"], input[type="password"] {
    width: 100% !important;
    height: 30px !important;
    margin-top: 5px;
    border-radius: 4px;
    font-family: cursive;
    font-size: 1.1em;
}
.user-form-labels {
    display: inline-block;
    font-family: cursive;
    font-size: 1.2em;
    color: rgb(82, 49, 6);
}

.user-form-container form div:last-child{
  display: flex; 
  justify-content: space-between;
  margin-top: 7px;
}

.user-form-container form div:last-child button, input[type="submit"]{
    font-size: 1em;
    padding: 6px 12px;
    font-family: cursive;
    background: none;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 1px 1px 2px rgba(51, 49, 49, 0.116);
    transition: all 0.3s ease;
}

.user-form-container form div:last-child button:hover, input[type="submit"]:hover{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px);
    cursor: pointer;
}

.user-form-container form div:last-child button:active, input[type="submit"]:active{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0); 
}

.user-form-container form div:last-child button{
    border: 2px solid rgb(201, 4, 4);
    color: rgb(184, 7, 7);
}

.user-form-container form div:last-child input{
    border: 2px solid rgb(3, 177, 3);
    color: rgb(2, 80, 2);
}

.error+input{
    border-color: red !important;
    border-width: 2px !important;
}

.user-form-heading{
    text-align: center;
    color: rgb(136, 80, 6); 
    font-weight: bold;
    box-shadow: 0px, 1px, 1px black;
    text-decoration: underline;
}

.error-invalid-creds{
    font-size: 1.1em;
    color: red;
    font-family: cursive;
    font-weight: bold;
}

.flash-login{
    padding: 17px;
    border: 2px solid rgba(255, 255, 255, 0.568);
    background-color: rgb(3, 136, 3);
    color: white;
    font-size: 1.1em;
    border-radius: 7px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: cursive;
    box-shadow: 0px, 1px, 3px rgba(0, 0, 0, 0.849);
}

.logged-in {
    display: flex;
    flex-direction: row-reverse;
    font-family: cursive;
}

.delete-thought{
    position: absolute;
    top: -17px;  
    right: -5px;
}

.delete-button {
    width: 16px; 
    height: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.delete-button:hover {
    transform: scale(1.1);
}

.thought-containter.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.user-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-info-container div{
    padding: 20px; 
    width: 348px;
}

.user-info-container form {
    border: 1px solid burlywood;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.212);
    font-family: cursive;
    padding: 20px;
}

.user-info-container form label {
    font-size: 1.1em;
}

.user-info-container form input[type="text"], input[type="email"] {
    width: 100% !important;
    height: 30px !important;
    margin-top: 5px;
    border-radius: 4px;
    font-family: cursive;
    font-size: 1.1em;
}

.user-joined-date{
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
}

.user-info-container form div:last-child{
   display: flex; 
   justify-content: space-between;
}

.user-change-btns{
    padding: 5px 8px;
    text-decoration: none;
    border: 2px solid rgba(190, 106, 9, 0.705);
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.212);
    font-family: cursive;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1em;
}

#change-passd-btn{
    color: rgb(5, 145, 155);
}
#delete-acc-btn{
    color: red;
}

.user-change-btns:hover {
    background-color: rgba(0, 0, 0, 0.05); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}

.user-change-btns:active {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0); 
}

.user-info-span{
    color: rgb(136, 80, 6); 
    font-weight: bold;
}

.hidden{
    display: none;
}

.edit-pencil{
    width: 16px; 
    height: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-left: 5px;
}

.edit-pencil:hover{
    transform: scale(1.1);
}

.edit-submit-btn{
    background: none;
    color: rgb(8, 170, 8);
    font-family: cursive;
    box-shadow: none;
    border: none;
    font-weight: bold;
    margin-top: 3px;
    cursor: pointer;
    font-size: 1.3em;
    margin-right: 5px;
}

.edit-submit-btn:hover{
    border: 2px solid green;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.226);
    border-radius: 4px;
}

.edit-cancel-btn{
    background: none;
    color: rgb(209, 6, 6);
    font-family: cursive;
    box-shadow: none;
    border: none;
    font-weight: bold;
    margin-top: 3px;
    cursor: pointer;
    font-size: 1.3em;
}

.edit-cancel-btn:hover{
    border: 2px solid rgb(209, 6, 6);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.226);
    border-radius: 4px;
}


.content-error-div{
    display: block;
    font-size: 0.8em;
    text-align: left;
    margin-bottom: 0%;
    font-weight: bold;
    color: red;
}

.password-container div{
    margin-bottom: 12px;
}

.password-container label{
    font-family: cursive;
    margin-bottom: 3px;
    color: rgb(136, 80, 6);
}

.password-container a{
    padding: 4px 8px;
    font-family: cursive;
    background: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    margin-right: 6px;
}

#chg-btn{
    border: 2px solid rgb(3, 161, 3);
    color: rgb(3, 161, 3);
}

#back-btn{
    border: 2px solid rgb(4, 101, 139);
    color: rgb(4, 101, 139);
}

.password-container a:hover {
    background-color: rgba(0, 0, 0, 0.05); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}

.password-container a:active {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(0); 
}